body {
	background-image: url("../img/fondo4.jpg");
}

header {
	text-align: center;
	color: White;
}

h1,
h2 {
	text-align: center;
}

nav a {
	height: 1500px;
	text-decoration: none;
	color: inherit;
	font-size: 14px;
}

nav li {
	border: 1px solid Black;
	text-align: center;
	color: WHITE;
	display: inline-block;
	width: 10%;
	padding: 5px 10px;
	background-color: darkgrey;
}
nav li:hover {
	border: 1px solid red;
	background-color: white;
	color: Black;
}

.texto1 {
	text-align: center;
	height: 40%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	font-size: 120%;
}

.texto2 {
	text-align: center;
	height: 30%;

	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	font-size: 120%;
}

.texto3 {
	text-align: center;
	height: 30%;

	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	font-size: 120%;
}

article {
	text-align: justify;
	height: 40%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	font-size: 120%;
	color: WHITE;
}

#cuerpo {
	text-align: justify;
	color: White;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
}

main {
	margin-top: 60px;
	margin-bottom: 60px;
}

.horario {
	text-align: justify;
	color: White;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
}

footer {
	text-align: center;
	color: white;
}

aside {
	text-align: center;
	height: 40%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	font-size: 120%;
	color: WHITE;
}

iframe {
	border: 1px solid black;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 5%;
}

/* contacto */

form {
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	gap: 10px;
}

.fild {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.fild.checkbox {
	align-self: center;
	flex-direction: row;
	gap: 5px;
}

.fild.checkbox input {
	width: min-content;
}

input {
	width: 100%;
	padding: 7px 10px;
}

button {
	padding: 7px 10px;
	max-width: fit-content;
	align-self: center;
	margin-bottom: 5px;
}

small {
	text-align: center;
}
